// Global Fonts

$pop        : 'Poppins';
$PD         : 'Playfair Display';

// Global Colors
$ivory    : #FCF9F2;
$grey     : #7E8287;
$darkblue : #465362;
$white    : #DAD6D6;
$lgrey    : #9DA39A;
$brown    : #B99767;

$greyOP     : #7e8287f1;
$darkblueOP : #465362be  ;
$whiteOP    : #DAD6D6be  ;
$lgreyOP    : #9DA39Abe  ;
$lightgreyOP    : #9da39ade  ;
$brownOP    : #B99767be  ;
